# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# Android / iOS
android/.gradle/
android/app/build/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
**/*.xcworkspace
**/DerivedData/

# IDE
.idea/
.vscode/

ios_signing/
